fastapi
uvicorn
motor
pydantic[email]
pydantic-settings
python-multipart
python-dotenv
python-docx
pytesseract
Pillow
pymupdf
aiohttp
httpx
groq
jinja2

# For Excel Generation
openpyxl

opencv-python-headless


opencv-python
